body{
	background: #f1f1f1;
}
.wp-admin select{
	height: 34px;
}
pre#log {
    text-align: center;
}
.remove-cf{
	padding-left: 0px;
	padding-top: 15px;
}
.cf-row{
	padding-top: 7px;
}
span.et-code {
    color: red;
    float: left;
    width: 30px;
}
span.et-exam {
}
pre#et-help {
    text-align: left;
}
a#et-info {
    margin-left: 7px;
}
a#et-info-hide {
    float: right;
}